.container{
    /* border: 1px solid seashell; */
    padding: 5px;
    width: 100vw;
    overflow: hidden;
}

.intro{
    margin: 2%;
}

.intro>img{
    border-radius: 20px;
}

.service{
    background-color: beige;
    overflow: hidden;
    height: 100%;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.button{
    padding: 4%;
    font-size: 20px;
    border-radius: 20px;
}