.container{
    /* border: 1px solid seashell; */
    padding: 5px;
    width: 100vw;
    overflow: hidden;
    /* margin-top: 20%; */
}



.intro>img{
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(82, 87, 92);
}

.service{
    background-color: beige;
    overflow: hidden;
    height: 100%;
}

.line{
    border: 0;
    height: 1px;
    background-color: rgb(164, 173, 173);
}

.line2{
    border: 0;
    height: 1px;
    background-color: rgb(164, 173, 173);
    margin-left: 60px ;
    margin-right: 60px ;
}